@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

[inert], [inert] * {
  opacity: 0.3;
}

html, body {
  max-width: 100%;
  min-width: 320px;
  font-size: 100%;
  font-weight: 400;
  line-height: 20px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  color: #C0C0C0;
  background: #000;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
  background: transparent;
}

a, a:visited {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 0px;
  background: black;
}

.os-scrollbar {
  z-index: 100;
  --os-track-bg: none;
  --os-track-bg-hover: none;
  --os-track-bg-active: none;
  --os-handle-bg: #fff;
  --os-handle-bg-hover: #fff;
  --os-handle-bg-active: #fff;
}
@media screen and (max-width: 768px) {
  .os-scrollbar {
    display: none;
  }
}

html.hidden {
  overflow: hidden;
}

/*-------------------------*/
/*------------------------------------*/
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?eql3t0");
  src: url("../fonts/icomoon.eot?eql3t0#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?eql3t0") format("truetype"), url("../fonts/icomoon.woff?eql3t0") format("woff"), url("../fonts/icomoon.svg?eql3t0#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon_], [class*=" icon_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_clock:before {
  content: "\e901";
  margin-right: 5px;
}

.icon_aperture:before {
  content: "\e902";
  margin-right: 5px;
}

.icon_ISO:before {
  content: "\e903";
  margin-right: 5px;
}

.icon_geo:before {
  content: "\e904";
  margin-right: 5px;
}

.icon_Hill_Hayes:before {
  content: "\e905";
  color: #fff;
}
@media (max-width: 768px) {
  .icon_Hill_Hayes:before {
    font-size: calc(20px + 17 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .icon_Hill_Hayes:before {
    font-size: calc(20px + 10 * 0.0520833333vw);
  }
}

.icon_riksgrasen:before {
  content: "\e906";
  color: #fff;
}
@media (max-width: 768px) {
  .icon_riksgrasen:before {
    font-size: calc(60px + 30.6 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .icon_riksgrasen:before {
    font-size: calc(60px + 18 * 0.0520833333vw);
  }
}

.icon_studio_cai:before {
  content: "\e907";
  color: #fff;
}
@media (max-width: 768px) {
  .icon_studio_cai:before {
    font-size: calc(16px + 6.8 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .icon_studio_cai:before {
    font-size: calc(16px + 4 * 0.0520833333vw);
  }
}

.icon_chill:before {
  content: "\e908";
  color: #fff;
}
@media (max-width: 768px) {
  .icon_chill:before {
    font-size: calc(28px + 13.6 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .icon_chill:before {
    font-size: calc(28px + 8 * 0.0520833333vw);
  }
}

.icon_stockholm:before {
  content: "\e909";
  color: #fff;
}
@media (max-width: 768px) {
  .icon_stockholm:before {
    font-size: calc(26px + 10.2 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .icon_stockholm:before {
    font-size: calc(26px + 6 * 0.0520833333vw);
  }
}

.icon_twitter:before {
  content: "\e90a";
  color: #fff;
  font-size: 24px;
  transition: 0.4s;
  will-change: transform;
}
.icon_twitter:before:hover {
  transform: scale(1.1);
}

.icon_instagram:before {
  content: "\e90b";
  color: #fff;
  font-size: 24px;
  transition: 0.4s;
  will-change: transform;
}
.icon_instagram:before:hover {
  transform: scale(1.1);
}

.icon_facebook:before {
  content: "\e90c";
  color: #fff;
  font-size: 24px;
  transition: 0.4s;
  will-change: transform;
}
.icon_facebook:before:hover {
  transform: scale(1.2);
}

.icon_logo:before {
  content: "\e90d";
  color: #fff;
}
@media (max-width: 768px) {
  .icon_logo:before {
    font-size: calc(25px + 10.2 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .icon_logo:before {
    font-size: calc(25px + 6 * 0.0520833333vw);
  }
}

/*---------------------------------*/
.container {
  position: relative;
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container {
    padding-top: calc(50px + 85 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .container {
    padding-top: calc(50px + 50 * 0.0520833333vw);
  }
}
@media (max-width: 768px) {
  .container {
    padding-bottom: calc(50px + 85 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .container {
    padding-bottom: calc(50px + 50 * 0.0520833333vw);
  }
}
.container.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.main_button {
  position: relative;
  width: -moz-max-content;
  width: max-content;
  padding: 10px 10px 10px 42px;
  background: #fff;
  border-radius: 14px;
  font-size: 15px;
  white-space: nowrap;
  transition: 0.4s;
  will-change: transform;
}
.main_button:hover {
  transform: scale(1.05);
}
.main_button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background: url(/images/objective.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.title {
  line-height: 42px;
}
@media (max-width: 768px) {
  .title {
    font-size: calc(30px + 17 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .title {
    font-size: calc(30px + 10 * 0.0520833333vw);
  }
}

.label {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 2;
}

.characteristic {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  max-width: 300px;
}
@media screen and (min-width: 400px) {
  .characteristic {
    align-self: end;
    justify-content: end;
  }
}
.characteristic span {
  display: block;
  font-size: 12px;
  width: 100%;
  max-width: -moz-max-content;
  max-width: max-content;
}

.location_title {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
}/*# sourceMappingURL=common.css.map */